.accordion {
    background-color:white;
    border: 2px solid var(--bluegray);
    border-radius: var(--border-radius);
    
}
.accordion-title {
    border-bottom: 2px solid rgba(214, 221, 223, 0.5);
    padding: 0 var(--small-gap);
    }