* {
  --default-gap: 2rem;
  --small-gap: 1rem;
  font-family: Montserrat;
}
.App {
  height: 100vh;
  background-color: #D6DDDF;
overflow: hidden;
}
header {
  height: 10%;
}
main {
  display: flex;
  gap: var(--default-gap);
  padding: var(--default-gap);
  height: calc(90% - (2 * var(--default-gap))) ;
  overflow: hidden;
  align-items: stretch;
  margin: auto;
  max-width: 1400px;
}
h1 {
  padding: 1rem;
  margin: 0;
}
main form {
  padding: var(--small-gap);
  overflow: scroll;
  background-color: white;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 25px 50px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; 
  min-width: calc(50% - (2*var(--default-gap)));
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}


main form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: var(--default-gap);
}
.input-group {
  border: 2px solid #B91313;
  border-radius: 20px;
  padding: var(--default-gap);
}
.input-group.green{
  border: 2px solid #19B233;;
}
